{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="flex justify-center text-3xl mt-4 text-yellow-400">Créer un Nouvel Événement</h1>
    <div class="max-w-4xl mx-auto my-8 p-2 bg-gray-800 rounded-lg">
        {{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}
            <div>
                {{ form_label(form.title, 'Titre', {'label_attr': {'class': 'block text-gray-800 font-bold mb-2'}}) }}
                {{ form_widget(form.title, {'attr': {'class': 'w-full px-4 py-2 rounded border-gray-800 text-gray-800'}}) }}
                {{ form_errors(form.title) }}
            </div>

            <div>
                {{ form_label(form.description, 'Description', {'label_attr': {'class': 'block text-gray-800 font-bold mb-2'}}) }}
                {{ form_widget(form.description, {'attr': {'class': 'w-full px-4 py-2 rounded border-gray-800 text-gray-800'}}) }}
                {{ form_errors(form.description) }}
            </div>

            <div>
                {{ form_label(form.date, 'Date', {'label_attr': {'class': 'block text-gray-800 font-bold mb-2'}}) }}
                {{ form_widget(form.date, {'attr': {'class': 'w-full px-4 py-2 rounded border-gray-800 text-gray-800'}}) }}
                {{ form_errors(form.date) }}
            </div>

            <div>
                {{ form_label(form.time, 'Heure', {'label_attr': {'class': 'block text-gray-800 font-bold mb-2'}}) }}
                {{ form_widget(form.time, {'attr': {'class': 'w-full px-4 py-2 rounded border-gray-800 text-gray-800'}}) }}
                {{ form_errors(form.time) }}
            </div>

            <div class="text-right">
                <button type="submit" class="bg-gray-800 hover:bg-yellow-400 text-white font-bold py-2 px-4 rounded">
                    Enregistrer
                </button>
            </div>
            <!-- Bouton retour vers la liste des événements -->
            <div class="mt-4 text-left">
                <a href="{{ path('app_agenda') }}" class="bg-gray-600 text-white px-4 py-2 rounded hover:bg-gray-600">
                    Retour à la liste des événements
                </a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
