{% extends 'base.html.twig' %}

{% block title %}Bookings{% endblock %}

{% block body %}
<div class="min-h-screen flex flex-col">
    <section class="w-full max-w-3xl mx-auto p-6 rounded-lg shadow-lg bg-white mt-10">
        <div class="border border-gray-800 rounded-lg p-4 bg-white">
            <h2 class="text-center font-bold text-2xl mb-4">
                Réservation n°{{ booking.id }} - Table n°{{ booking.tables.id }}
            </h2>
            <p class="mt-6">
                Réservé pour le {{ booking.orderDate|date('d/m/Y H:i') }} au nom de {{ booking.user.lastName }}
                pour {{ booking.nbPeople }} personne(s).
            </p>
            <div class="grid grid-cols-3 gap-4 mt-10">
                <a href="{{ path('app_bookings_index') }}" 
                   class="btn">
                    Retour à la liste
                </a>
                <a href="{{ path('app_bookings_edit', {'id': booking.id}) }}" 
                   class="btn">
                    Modifier
                </a>
                {{ include('bookings/_delete_form.html.twig') }}
            </div>
        </div>
    </section>    
</div>
{% endblock %}
