{% extends 'base.html.twig' %}
{% import '/includes/productList.html.twig' as productList %}

{% block title %}Modifier une commande{% endblock %}

{% block body %}
	<aside>
		<p>Détail de la commande</p>
		{% for orderProduct in orderProducts %}
			<p>{{ orderProduct[0].name }} - {{ orderProduct[0].price }}€ x {{ orderProduct["quantity"] }}</p>
		{% endfor %}
		<p class="mt-10">Total : {{ total }}€</p>
		<div class="mt-4">
			<a href="{{ path('app_order') }}" class="btn btn-primary">Retour</a>
			<a href="{{ path('app_order_close', {'id': order.id}) }}" class="btn btn-primary">Terminer la commande</a>
		</div>
	</aside>
	{{ productList.showBtn(categories, order) }}
{% endblock %}